* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: "League Spartan", sans-serif;
}

html {
    overflow: hidden;
}


/* NAVBAR STYLES */
#navbar {
    height: 150px;
    width: 80%;
    top: 80px;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: auto;
    position: absolute;
    z-index: 1;

}

.navbar-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 250px;
    height:  50%;
    margin-right: 25px;
    filter: drop-shadow(0 0 1rem #DB324D);
    border-radius: 20px;
    background: #FDFFFF;
    border: 0.5px solid #521945;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5rem;
    font-weight: 800;
    width: 109.59px;
    margin-top: 10px;
    margin-left: 25px;
    height: 109.59px;
    background: #FDFFFF;
    border-radius: 50%;
    filter: drop-shadow(0 0 1rem #DB324D);
    border: 0.5px solid #521945;
}

.github-logo {
    width: 80px;
    height: 100%;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px;
}

.github-logo:hover {
    filter: drop-shadow(2px 2px 10px #570000b0);
    transition: all 0.5s ease;
}

.linkedin-logo {
    width: 80px;
    height: 90%;
    cursor: pointer;
    transition: all 0.1s;
    padding: 5px;
}

.linkedin-logo:hover {
    filter: drop-shadow(2px 2px 10px #57000098);
    transition: all 0.5s ease;
}

.resume-logo {
    width: 80px;
    height: 90%;
    cursor: pointer;
    transition: all 0.3s;
    padding: 5px;
}

.resume-logo:hover {
    filter: drop-shadow(2px 2px 10px #570000a4);
    transition: all 0.5s ease;
}

.nav-menu {
    list-style: none;
    font-weight: 200;
}

.nav-menu-item {
    color: #FDFFFF;
}

.projects {
    position: absolute;
    top: 95px;
    left: -1000px;
    transition: all 0.8s ease-in;
    cursor: pointer;
    opacity: 0;
}

.projects.projects-is-active {
    top: 95px;
    left: 150px;
    opacity: 1;
}

.hire-me {
    position: absolute;
    top: 125px;
    left: -1000px;
    opacity: 0;
    transition: all 1s ease-in;
    cursor: pointer;
}

.hire-me.hire-me-is-active {
    position: absolute;
    top: 125px;
    left: 150px;
    opacity: 1;
}

.about-me {
    position: absolute;
    left: -1000px;
    top: 60px;
    opacity: 0;
    transition: all 0.6s ease-in;
    cursor: pointer;
}

.home {
    position: absolute;
    left: -1000px;
    top: 25px;
    opacity: 0;
    transition: all 0.4s ease-in;
    cursor: pointer;
}

.about-me.about-me-is-active {
    left: 150px;
    top: 60px;
    opacity: 1;
}

.home.home-is-active {
    left: 150px;
    top: 25px;
    opacity: 1;
}

.nav-menu-button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    top: 150px;
    left: 60px;
    color: #FDFFFF;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.nav-menu-button.nav-menu-button-active {
    top: 160px;
}

.underline {
    width: 100%;
    height: 1px;
    display: flex;
    justify-content: space-between;
}

span.bar {
    height: 1px;
    width: 0%;
    background-color: #FDFFFF;
    transition: all 0.3s ease;
}

.nav-menu-item:hover span.bar,
.nav-menu-button:hover span.bar {
    width: 50%;
    transition: all 0.3s ease;
}

/* HOMEPAGE STYLES */

#home-page {
    width: 100%;
    height: 100vh;
    
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #361F27;
    position: absolute;
    overflow-y: scroll;
}

.home-content-container {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 80%;
    align-items: center;
    position: absolute;
    overflow: hidden;
    box-shadow: 5px 0px 50px #000000;
    transition: all 1s ease;
    margin: 0 20% 0;
}

.home-content-container-unactive {
    box-shadow: none;
}

.ryan-img {
    position: absolute;
    width: 350px;
    bottom: 0;
    filter: drop-shadow(2px 2px 50px #361F27);
    transition: all 1.5s;
}

.homepage-circle-background {
    width: 369px;
    height: 387px;
    border-radius: 50%;
    background: #FDFFFF;
    filter: drop-shadow(2px 2px 1rem #DB324D);
    border: 0.5px solid #521945;
    bottom: 125px;
    position: absolute;
    transition: all 1.5s;
}


.header-fullname {
    transform: rotate(-90deg);
    top: 550px;
    color: #FDFFFF;
    position: absolute;
    font-size: 3rem;
    left: -70px;
    transition: all 1.5s;
}

.header-skill {
    transform: rotate(90deg);
    position: absolute;
    top: 650px;
    color: #FDFFFF;
    font-size: 2rem;
    right: -70px;
    font-weight: 200;
    transition: all 1s;
}

.homepage-introduction {
    color: #FDFFFF;
    position: absolute;
    font-weight: 200;
    width: auto;
    height: auto;
    top: 200px;
    text-align: center;
    font-size: 1.8rem;
    transition: all 0.8s;
}

/* SWITCHING TO ABOUT PAGE ANIMATION*/

.homepage-introduction.homepage-introduction-close {
    transform: translateX(1000px);
    opacity: 0;
}

.header-skill.header-skill-close {
    transform: rotate(90deg) translate(1000px);
    opacity: 0;
}

.header-fullname.header-fullname-close {
    transform: rotate(-90deg) translate(-1000px);
    opacity: 0;
}

.homepage-circle-background.homepage-circle-background-close {
    transform: translateY(1000px);
    opacity: 0;
}

.ryan-img.ryan-img-close {
    transform: translateY(1000px);
    opacity: 0;
}

/* ABOUT ME PAGE */

.about-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 100vh;
    height: auto;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -1000px;
    transition: all 1s ease;
    margin: 0 20% 0;
}

.about-container-active {
    box-shadow: 5px 0px 50px #000000;
    top: 0px;
}

.about-me-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}

.code-languges-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.code-languges-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 10px;
}



.code-languges-title:nth-of-type(1) {
    margin-top: 10px;
}


.code-languges-title {
    padding: 0 15px 0;
    font-weight: 300;
}

.skills-box {
    min-height: auto;
    height: fit-content;
    min-width: fit-content;
    width: 40%;
    background: #FDFFFF;
    margin: 0 25px;
    flex-direction: column;
    border-radius: 20px;
    border: solid 0.5px #361F27;
    filter: drop-shadow(2px 0px 15px #570000);
    opacity: 0;
    transition: all 1s;
    position: relative;
}

.about-me-title {
    text-align: center;
    margin-bottom: 50px;
    color: #FDFFFF;
    font-weight: 200;
    font-size: 3em;
    opacity: 0;
    transition: all 1s;
}

.about-me-paragraph {
    width: 60%;
    padding: 5px 25px 5px;
    margin-left: 15px;
    color: #FDFFFF;
    line-height: 1.5em;
    letter-spacing: 0.12em;
    opacity: 0;
    transition: all 1s;
}

.code-icons {
    width: 25px;
    height: 25px;
}

.code-items {
    width: 60%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.code-languges-list {
    width: auto;
    height: 100%;
    font-weight: 200;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

/* OPENING & CLOSING ABOUT PAGE */

.skills-box.skills-box-active {
    opacity: 1;
}

.about-me-paragraph.about-me-paragraph-active {
    opacity: 1;
}

.about-me-title.about-me-title-active {
    opacity: 1;
}

/* PROJECT PAGE */

.project-container {
    position: absolute;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -2000px;
    opacity: 0;
    transition: all 1s ease;
    margin: 0 20% 0;

}

.project-container.project-container-active {
    top: 0px;
    opacity: 1;
    box-shadow: 5px 0px 50px #000000;
}

.project-title {
    text-align: center;
    color: #FDFFFF;
    font-size: 4.5em;
    margin-bottom: 50px;
    font-weight: 300;
    margin-top: 250px;
}

.project-content {
    display: flex;
    flex-direction: column;
}

.alderwood-project {
    display: flex;
    flex-direction: row;
    padding: 10px 0 30px;
    margin: 25px 50px 5px;
    border-bottom: 0.5px solid #FDFFFF;
    min-height: 350px;
}

.alderwood-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.project-alderwood {
    color: #FDFFFF;
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.alderwood-summary {
    padding: 0 5px;
    color: #FDFFFF;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 30px;
}

.alderwood-display {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.alderwood-project-image {
    width: 90%;
    border: 0.5px solid #521945;
    border-radius: 10px;
    filter: drop-shadow(2px 0px 15px #570000);
}

.alderwood-title {
    color: #FDFFFF;
    margin-bottom: 10px;
    font-size: 2.2em;
    font-weight: 300;
    z-index: 1;
}

.alderwood-link {
    text-decoration: none;
    color: #000000;
    width: 100px;
    height: 25px;
    background: #FDFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.4s;
    z-index: 1;
}

.alderwood-link:hover {
    filter: drop-shadow(2px 0px 20px #570000);
}

/* SAMS RESIN PROJECT STYLES */
.sams-resin-project {
    display: flex;
    flex-direction: row;
    padding: 10px 0 30px;
    margin: 20px 50px 5px;
    border-bottom: 0.5px solid #FDFFFF;
}

.sams-resin-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.project-sams-resin {
    color: #FDFFFF;
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.sams-resin-summary {
    padding: 0 5px;
    color: #FDFFFF;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 30px;
}

.sams-resin-display {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sams-resin-project-image {
    width: 90%;
    border: 0.5px solid #521945;
    border-radius: 10px;
    filter: drop-shadow(2px 0px 15px #570000);
}

.sams-resin-title {
    color: #FDFFFF;
    margin-bottom: 10px;
    font-size: 2.5em;
    font-weight: 300;
    z-index: 1;
}

.sams-resin-link {
    text-decoration: none;
    color: #000000;
    width: 100px;
    height: 25px;
    background: #FDFFFF;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;
}

.sams-resin-link:hover {
    box-shadow: 2px 0px 50px 5px #DB324D;
    ;
}

/* COLONY R PROJECT STYLES */
.colony-project {
    display: flex;
    flex-direction: row;
    padding: 10px 0 25px;
    margin: 25px 50px 150px;
}

.colony-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.project-colony {
    color: #FDFFFF;
    font-weight: 200;
    font-size: 2.5em;
    margin-bottom: 25px;
}

.colony-summary {
    padding: 0 5px;
    color: #FDFFFF;
    font-weight: 200;
    font-size: 1.2em;
    line-height: 1.1em;
    margin-bottom: 30px;
}

.colony-display {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.colony-project-image {
    width: 90%;
    border: 0.5px solid #521945;
    border-radius: 10px;
    filter: drop-shadow(2px 0px 15px #570000);
}


.colony-title {
    color: #FDFFFF;
    margin-bottom: 15px;
    font-size: 2.5em;
    font-weight: 300;
    z-index: 1;
}

.colony-link {
    text-decoration: none;
    color: #000000;
    width: 100px;
    height: 25px;
    background: #FDFFFF;
    display: none;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: all 0.3s;
}

.colony-link:hover {
    box-shadow: 2px 0px 50px 5px #DB324D;
}


/* HIRE PAGE STYLES */
.hire-container {
    position: absolute;
    height: 100%;
    width: 80%;
    transition: all 1s ease;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    margin: 0 20% 0;
}

.hire-container-active {
    box-shadow: 5px 0px 50px #000000;
}

.contact-box {
    background: #FDFFFF;
    min-width: 300px;
    width: 45%;
    height: 30%;
    display: flex;
    justify-content: center;
    min-height: auto;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    position: relative;
    right: 3000px;
    transition: all 1s ease;
    margin-top: 25px;
}

.contact-box-active {
    right: 0px;
}



.contact-box-title {
    padding: 5px;
    margin: 15px 0 25px 0;
    font-size: 3rem;
    font-weight: 300;
}

.phone {
    font-size: 2rem;
    font-weight: 200;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
}

.email {
    font-size: 1.7rem;
    font-weight: 300;
    padding: 5px;
    margin-top: 5px;
    text-align: center;
}

.contact-box-summary {
    padding: 5px;
    margin: 25px 0 15px 0;
    text-align: center;
}

.hire-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hire-title {
    color: #FDFFFF;
    font-size: 4.5rem;
    font-weight: 400;
    padding: 5px;
    margin-bottom: 15px;
    right: 3000px;
    position: relative;
    transition: all 1s ease;
}

.hire-title.hire-title-active {
    right: 0px;
}

.hire-introduction {
    padding: 5px;
    margin-bottom: 25px;
    width: 75%;
    text-align: center;
    color: #FDFFFF;
    font-weight: 200;
    font-size: 1.5rem;
    position: relative;
    left: 3000px;
    transition: all 1s ease;
}

.hire-introduction.hire-introduction-active {
    left: 0px;
}


@media (max-width: 1061px) {
    /* HOMEPAGE SECTION */
    .homepage-introduction {
        top: 250px;
    }

    /* ABOUT ME SECTION */
    .about-me-content {
        flex-direction: column;
        align-items: center;
    }
    .about-me-title {
        margin-top: 225px;
    }

    .skills-box {
        padding: 5px;
        margin-bottom: 25px;
    }

    .code-items {
        height: 100%;
    }

    .about-me-paragraph {
        text-align: center;
        width: 85%;
        padding: 5px;
        margin-bottom: 150px;
    }

    /* PROJECTS SECTION */
    .alderwood-project, .sams-resin-project, .colony-project {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
        width: 275px;
    }

    .alderwood-title, .sams-resin-title, .colony-title {
        width: 350px;
        margin-bottom: 25px;
        font-weight: 200;
    }

    .alderwood-project-image, .sams-resin-project-image, .colony-project-image {
        margin-bottom: 25px;
    }

    .project-sams-resin, .project-alderwood, .project-colony {
        display: none;
    }

    .alderwood-content, .sams-resin-content, .colony-content {
        width: 75%;
    }

    .alderwood-display, .sams-resin-display, .colony-display {
        width: 75%;
    }

    /* HIRE ME SECTION */
    .contact-box {
        min-width: 400px;
    }

    .contact-box-title {
        font-size: 3rem;
        margin: 5px 0 20px;
    }

    .contact-box-summary {
        margin: 20px 0 10px;
    }

    .phone {
        margin-bottom: 0px;
    }

    .email {
        margin: 0px;
    }
}

@media (max-width: 750px) {
    /* HOME PAGE SECTION */
    .header-fullname {
        left: -70px;
        top: 400px;
        font-size: 2rem;
    }

    .header-skill {
        right: -60px;
        top: 350px;
        font-size: 1.3rem;
    }

    .homepage-circle-background {
        width: 200px;
        height: 200px;
    }
    
    .ryan-img {
        width: 240px;
    }

    .homepage-introduction {
        width: 90%;
        font-size: 1rem;
        top: 225px;
    }

    /* NAVBAR SECTION */
    .navbar-icon-container {
        width: 50px;
        height: fit-content;
        margin: 10px 25px 0 0;
        flex-direction: column;
        top: -1000px;
        opacity: 0;
        right: 0;
        position: absolute;
        transition: all 0.8s ease;
    }

    .navbar-icon-container-active {
        top: 0;
        right: 0;
        opacity: 1;
    }

    .resume-logo, .linkedin-logo {
        width: 90%;
        margin: 5px;
    }

    .github-logo {
        width: 100%;
        margin: 5px;
    }

    img.github-logo, img.resume-logo, img.linkedin-logo {
        padding: 0;
        margin: 0;
    }

    .alderwood-title, .sams-resin-title, .colony-title {
        font-size: 1.5rem;
    }

}